@model EuFaloCloneBiblioteca.Models.VendaContato

@{
    ViewData["Title"] = "Compras";
}

<h1>Compras</h1>

@if (Model.VendaDetalheContatos != null && Model.VendaDetalheContatos.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor</th>
                <!-- Adicione mais colunas conforme necessário -->
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vendaDetalhe in Model.VendaDetalheContatos)
            {
                <tr>
                    <td>@vendaDetalhe.Produto?.NomeProduto</td>
                    <td>@vendaDetalhe.Quantidade</td>
                    <td>@vendaDetalhe.Valor.ToString("C")</td>
                    <td>
                        <a href="@Url.Action("ItensCompra", "Venda", new { produtoId = vendaDetalhe.ProdutoId })" class="btn btn-link">Mostrar Itens</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum item encontrado para essa compra.</p>
}
